/* Dashboard Layout */
.Dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* Actions Menu */
.actionsMenu {
    background-color: #ecf0f1;
    /* Light Gray Background */
    height: 100%;
    width: 280px;
    /* Fixed width */
    flex-shrink: 0;
    /* Prevent shrinking */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

/* Outlet View (Main Content) */
.outletView {
    height: 100%;
        flex-grow: 1;
    /* Takes remaining space */
    padding-left: 20px;
    /* Spacing around content */
}

/* Greeting Text */
.greetingPActionMenu {
    text-align: center;
    color: #2c3e50;
    /* Navy Blue */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 20px;
    /* Spacing between greeting and buttons */
}

/* Actions (Buttons) */
.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    /* Decreased gap for better spacing */
}

.btns {
    background-color: #e67e22;
    color: white;
    border: none;
    width: 100%;
    max-width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.btns.active {
    background-color: #2ecc71;
    /* Change to Emerald Green when active */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/* Hover Effects */
.btns:hover {
    background-color: #2ecc71;
    /* Emerald Green */
    transform: translateY(-3px);
    /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* Enhanced shadow on hover */
}

/* Focus State (for accessibility) */
.btns:focus {
    outline: 3px solid #f1c40f;
    /* Yellow focus ring for accessibility */
}



.btns>span {
    position: relative;
    font-size: 20px;
    padding-right: 5px;
    top: 2px;
}